t1d/data
t1d/results
t1d/.snakemake
t1d/.RData
t1d/.Rhistory

t2d/data
t2d/results
t2d/.snakemake
t2d/.RData
t2d/.Rhistory

reference
liftover
phenotype/icd.txt
phenotype/t1d.pheno
phenotype/t2d.pheno